div.look-whos-editing-too:before{
	content:"\e01c";
	font-family: 'icomoon';
	color: #04bfbf;
	position: absolute;
	font-size: 8px;
	padding-left: 13px;
	padding-top: 8px;
}

div#look-whos-editing-too {

    float: right;
    padding-top: 15px;

}

div#look-whos-editing-too img {
    border-radius: 16px;
    margin-left: 5px;
}