<umb-panel ng-controller="LWET.DashboardController">
    <div class="umb-pane">
        <h1>These files are currently edited</h1>
        <div id='look-whos-editing-too'>
            <ul class="unstyled">
                <li ng-repeat="edit in allEdits">
                    <img id="look-whos-editing-too-{{edit.userId}}" src="//www.gravatar.com/avatar/{{edit.userGravatar}}.jpg?s=30&d=mm" title="{{edit.userName}}" />
                    {{edit.userName}} is currently editing
                    <a ng-href="#/content/content/edit/{{edit.nodeId}}"><b>"{{edit.nodeName}}"</b></a>
                </li>
            </ul>
        </div>
    </div>
</umb-panel>